__pycache__/
*.py[cod]
.env
venv/
.venv/
onnx/

# app
app/backend/static/
app/frontend/node_modules/
app/frontend/dist/
app/frontend/.vite/

# infra
infra/**/.terraform/
infra/**/.terraform.lock.hcl
infra/**/terraform.tfstate
infra/**/terraform.tfstate.backup
infra/**/terraform.tfvars
infra/**/.cache/
